<launch>
	<include file="$(find h4r_rapid_robot_xacros)/launch/empty_world.launch"/>

	<group ns="testns" clear_params="true">  

    <node pkg="rviz" type="rviz" name="rviz" args=" -d $(find h4r_pantilt_adapter)/rviz/pan_tilt_view.rviz" required="true" />	
		
	<param name="robot_description" command="$(find xacro)/xacro '$(find h4r_pantilt_descriptions)/defs/pan_tilt_adapter.xacro'" />
    <node pkg="robot_state_publisher" type="state_publisher" 
		  name="robot_state_publisher">
		<!-- joint_states and robot_description are used in default -->
		<param name="publish_frequency" type="double" value="30.0"/>
		<param name="tf_prefix" type="string" value=""/>
	</node> 
    	
    	
	<node name="spawn_test_bot" pkg="gazebo_ros" type="spawn_model" 
    	  args="-z 0.01 -x 0 -urdf -param robot_description -model robot_description" 
    	  respawn="false" />
 
    	  	
    	  	
    <node pkg="joy" name="joystick" type="joy_node" />	  	
    <node pkg="h4r_pantilt_adapter" name="pantilt_cam0_joy" type="pantilt_joy_node" output="screen" required="true">
		<param name="axis_pan" value="0" />
		<param name="axis_tilt" value="1" />
		<param name="is_button_axis" value="false" />		
		<param name="lock_is_switch" value="true" />
		<param name="locked" value="true" />		
		<param name="button_reset_lock" value="0" />
		<remap from="~/joy" to="/joy"/>
	</node>
	</group>
</launch>